*.a
mixm.*
moms.*
atm.*
wkp.*
*.o
*.mod
[#]*
*~
*.o
*.mod
*.dat
*.swp
*.optrpt
fort.*
core*
*/*.o
*/*/*.o
*/*/*/*.o
*/*/*/*/*.o
*/*/*/*/*.mod
*/*/*/*.mod
*/*/*.mod
*/*.mod
*.mod
TAGS
hmaxloc
hpsig
hpsig_MPI
htbplot
huumat
huumat_MPI
hwmatK
hwmatK_MPI
wanplot
convgwin
eout
eout2
gwinit
hbasfp0
hecor
hef
heftet
hmergewv
hqpe
hqpe_qsgw
hqpe_sc
hsfp0
hsfp0_sc
hvccfp0
hx0fp0
hx0fp0_sc
kino_input_test
qg4gw
rdata4gw_v2
fplot
plbnds
pldos
libfp-MPIK.a
libfp.a
fplot
lmchk
lmdos
lmf
lmf-MPIK
lmf2gw
lmfa
lmfgw
lmfgw-MPIK
lmfham
moduledepends.ifort.inc
moduledepends.ifort_mpik.inc
pldos
slatsm/slatsm-MPI.a
slatsm/slatsm.a
subs/libsubs-MPIK.a
subs/libsubs.a
mkhamloc
mkhamloc2
.fc_version
plotmodel
replaceorb
old-mkhamloc
mkLO
mkinput
mkmodel
readinput
SRC/TestInstall/bin
SRC/TestInstall/work
*duledepend*
*/*duledepend*
*/*/*duledepend*
*/*/*/*duledepend*
SRC/exec/build
SRC/TAGS
chk
bin
SRC/exec_*
SRC/exec/ctrl2vasp
SRC/exec/getsyml
SRC/exec/vasp2ctrl
SRC/exec/viewvesta
SRC/subroutines/show_programinfo.f90
Samples/**/*_work/
**/__pycache__/
work/
Work/
SRC/exec/cmake_install.cmake
SRC/exec/dummy
SRC/exec/gwinit
SRC/exec/hahc
SRC/exec/hbasfp0
SRC/exec/heftet
SRC/exec/hhomogas
SRC/exec/hmagnon
SRC/exec/hmaxloc
SRC/exec/hpsig_MPI
SRC/exec/hqpe
SRC/exec/hqpe_sc
SRC/exec/hrcxq
SRC/exec/hrcxq_gpu
SRC/exec/hrcxq_mp
SRC/exec/hrcxq_mp_gpu
SRC/exec/hsfp0
SRC/exec/hsfp0_sc
SRC/exec/hsfp0_sc_gpu
SRC/exec/hsfp0_sc_mp
SRC/exec/hsfp0_sc_mp_gpu
SRC/exec/hsocmat
SRC/exec/huumat_MPI
SRC/exec/hvccfp0
SRC/exec/hvccfp0_gpu
SRC/exec/hvccfp0_mp
SRC/exec/hvccfp0_mp_gpu
SRC/exec/hwmatK_MPI
SRC/exec/hx0fp0
SRC/exec/hx0fp0_gpu
SRC/exec/hx0fp0_mp
SRC/exec/hx0fp0_mp_gpu
SRC/exec/libecaljF_gpu.so
SRC/exec/libecaljF_mp_gpu.so
SRC/exec/libecaljF_mp.so
SRC/exec/libecaljF.so
SRC/exec/lmchk
SRC/exec/lmf
SRC/exec/lmfa
SRC/exec/lmf_gpu
SRC/exec/lmfham2
SRC/exec/lmf_mp
SRC/exec/lmf_mp_gpu
SRC/exec/Makefile
SRC/exec/mlo
SRC/exec/nvfortran
SRC/exec/qg4gw
SRC/exec/wanplot
