*.a
mixm.*
moms.*
atm.*
wkp.*
*.o
*.mod
[#]*
*~
*.o
*.mod
*.dat
*.swp
*.optrpt
fort.*
core*
*/*.o
*/*/*.o
*/*/*/*.o
*/*/*/*/*.o
*/*/*/*/*.mod
*/*/*/*.mod
*/*/*.mod
*/*.mod
*.mod
TAGS
hmaxloc
hpsig
hpsig_MPI
htbplot
huumat
huumat_MPI
hwmatK
hwmatK_MPI
wanplot
convgwin
eout
eout2
gwinit
hbasfp0
hecor
hef
heftet
hmergewv
hqpe
hqpe_qsgw
hqpe_sc
hsfp0
hsfp0_sc
hvccfp0
hx0fp0
hx0fp0_sc
kino_input_test
qg4gw
rdata4gw_v2
fplot
plbnds
pldos
libfp-MPIK.a
libfp.a
fplot
lmchk
lmdos
lmf
lmf-MPIK
lmf2gw
lmfa
lmfgw
lmfgw-MPIK
lmfham
moduledepends.ifort.inc
moduledepends.ifort_mpik.inc
pldos
slatsm/slatsm-MPI.a
slatsm/slatsm.a
subs/libsubs-MPIK.a
subs/libsubs.a
mkhamloc
mkhamloc2
.fc_version
plotmodel
replaceorb
old-mkhamloc
mkLO
mkinput
mkmodel
readinput
SRC/TestInstall/bin
SRC/TestInstall/work
*duledepend*
*/*duledepend*
*/*/*duledepend*
*/*/*/*duledepend*
SRC/exec/*
SRC/TAGS
chk
bin
SRC/exec*
SRC/subroutines/show_programinfo.f90
