*.a
mixm.*
moms.*
atm.*
wkp.*
*.o
*.mod
[#]*
*~
*.o
*.mod
*.dat
*.swp
*.optrpt
fort.*
core*
*/*.o
*/*/*.o
*/*/*/*.o
*/*/*/*/*.o
*/*/*/*/*.mod
*/*/*/*.mod
*/*/*.mod
*/*.mod
*.mod
TAGS
hmaxloc
hpsig
hpsig_MPI
htbplot
huumat
huumat_MPI
hwmatK
hwmatK_MPI
wanplot
convgwin
eout
eout2
gwinit
hbasfp0
hecor
hef
heftet
hmergewv
hqpe
hqpe_qsgw
hqpe_sc
hsfp0
hsfp0_sc
hvccfp0
hx0fp0
hx0fp0_sc
kino_input_test
qg4gw
rdata4gw_v2
fplot
plbnds
pldos
libfp-MPIK.a
libfp.a
fplot
lmchk
lmdos
lmf
lmf-MPIK
lmf2gw
lmfa
lmfgw
lmfgw-MPIK
lmfham
moduledepends.ifort.inc
moduledepends.ifort_mpik.inc
pldos
slatsm/slatsm-MPI.a
slatsm/slatsm.a
subs/libsubs-MPIK.a
subs/libsubs.a
mkhamloc
mkhamloc2
.fc_version
plotmodel
replaceorb
old-mkhamloc
mkLO
mkinput
mkmodel
readinput
SRC/TestInstall/bin
SRC/TestInstall/work
*duledepend*
*/*duledepend*
*/*/*duledepend*
*/*/*/*duledepend*
SRC/TAGS
chk
bin
SRC/build_*/
SRC/subroutines/show_programinfo.f90
Samples/**/*_work/
work/
Work/
*.tar.gz
__*
nvidia-*

# --- large intermediate outputs of lmf/gwsc/mlo (2026-09-17 cleanup; 26 GB of these
#     had been swept into unpushed commits by `git add -A`). References that a test
#     needs are small (band_MLO_*.dat, *.chk, QPU/QPD) and are added with `git add -f`.
Screening_W-v*
Coulomb_v*
HamRs*
MLOHamR
CNmat
HamiltonianPMT*
__HamiltonianPMT*
PROCAR.*
GEIG
QGpsi
QGcou
HAMindex
lahc*
luumat2
UUU
UUD
sigm.[0-9]*run
__WV.*
WVR
WVI
*.zip
Samples/Legacy/BK/
Samples/Legacy/AHC/BK/
BZ*.html
