HEADER  Crystal structure of Se and Te.
        Hexagonal with 3 atoms per unit cell. 
        Space group D_3^4 (C3(_1)21).
        Cell built refers to clockwise upward spiral.
        Ref: Wyckoff pg. 36 (rotations here are of rotations the axis).
CLEAN   rm -f atm.te ctrl.te log.te mixm.te moms.te out.lmf.te rst.te save.te wkp.te pos.te
TESTLMF lmfa te -vminx=t --rs=0,1 -vnk=3 -vnit=3 -vlf1=4 -vlmxl=4 -vnk=3 -vngd=20 -vkmx=3 -vconv=1d-4 --no-iactiv --wpos=pos
        lmf  te -vminx=t --rs=0,1 -vnk=3 -vnit=3 -vlf1=4 -vlmxl=4 -vnk=3 -vngd=20 -vkmx=3 -vconv=1d-4 --no-iactiv --wpos=pos -vles=t
        rm -f mixm.te
        lmf  te -vminx=0 --rs=11,0 -vnk=3 -vnit=3 -vlf1=4 -vlmxl=4 -vnk=3 -vngd=20 -vkmx=5 -vconv=1d-4 --no-iactiv -vpwmode=11
        rm -f mixm.te
        lmf  te -vminx=0 --rs=11,0 -vnk=3 -vnit=3 -vlf1=4 -vlmxl=4 -vnk=3 -vngd=20 -vkmx=3 -vconv=1d-4 --no-iactiv
MPI version
        mpix -np=7 lmf-MPIK te -vminx=t --rs=0,1 -vnk=3 -vnit=3 -vlf1=4 -vlmxl=4 -vnk=3 -vngd=20 -vkmx=3 -vconv=1d-4 --no-iactiv --wpos=pos -vles=t
        rm -f mixm.te
        mpix -np=7 lmf-MPIK te -vminx=0 --rs=11,0 -vnk=3 -vnit=3 -vlf1=4 -vlmxl=4 -vnk=3 -vngd=20 -vkmx=5 -vconv=1d-4 --no-iactiv -vpwmode=11
        rm -f mixm.te
        mpix -np=7 lmf-MPIK te -vminx=0 --rs=11,0 -vnk=3 -vnit=3 -vlf1=4 -vlmxl=4 -vnk=3 -vngd=20 -vkmx=3 -vconv=1d-4 --no-iactiv
CLEAN   rm -f atm.te ctrl.te log.te mixm.te moms.te out.lmf.te rst.te save.te wkp.te pos.te
Experiment
  Se  a=8.234 cbya=1.136 u=.217
  Te  a=8.406 cbya=1.330 u=.269
% const asa=0 les=0 da=0 se=t te=f
% const bigbas=f kmx=3 ngd=20 nel=bigbas?3:2 rg=-1 rfoca=-1 
% cconst se a=8.234 cbya=1.136 u=.217 ra=asa?1/3.71068:0.256 z=34
% cconst te a=8.406 cbya=1.330 u=.269 ra=asa?1/3.71068:0.256 z=52
% cchar psta se 4.88,4.81,4.23,4.10 te 5.88,5.791,5.236,4.103
VERS    LMFP-4 LMASA-6 LMF-6 LM:7 FP:7
IO      SHOW=F HELP=F VERBOS=30 WKP=F
% const frz=f pwmode=0 pwemin=1 pwemax=3 oveps=0
HAM     FORCES=1 FTMESH={ngd} XCFUN=2 TOL=1d-8  
        PWMODE={pwmode} PWEMIN={pwemin} PWEMAX={pwemax} OVEPS={oveps}
# for Version 7:
        NSPIN=1 REL=t 
GW      NKABC=nkgw nkgw nkgw-1 GCUTB=2.7 GCUTX=2.2
OPTIONS NSPIN=1 REL=t FRZ={frz} TPAN=1 HF=hf ESP=F XCN=0 LMH=0
        PFLOAT=0
% ifdef minx
DYN     MSTAT: 6,t,.001,0,.015,0 NIT=10
# for Version 7:
        MSTAT[MODE=6 HESS=t XTOL=.001 GTOL=0 STEP=.015 NKILL=0] 
DYN     MSTAT: 6,t,.001,0,.015,0 NIT=10
DYN     MSTAT: 5,t,.001,0,.015,0 NIT=10
% endif
SYMGRP  find
SYMGRP  R3Z:(0,0,-cbya/3) R2(1/2,sr3/2,0):(0,0,-cbya/3)
% const conv=.00005 convc=.002 xipmxs=f
# for Version 7:
ITER    MIX=A,k=5 BETA=beta CONV={conv} CONVC={convc} NIT=nit
MIX     MODE=A,k=5 BETA=beta CONV={conv} CONVC={convc}
        NMIX=2
STRUC   NBAS={les?12:3} NSPEC={les?2:1} NL=5
        ALAT=a  PLAT=  1 0 0  -0.5 sr3/2  0  0 0 cbya  
        DALAT={da}*a SHEAR=0 0 1 tet
FIT     WVS=1 1  NFIT=2 EFIT=-.5 -2
BZ      NKABC=nk BZJOB=0 0 bzj
        METAL=met TETRA=1  SAVDOS=f DOS=ef0-1.5 ef0+1.5
        EF0=ef0 DELEF=.2 N=0 W=.004 NPTS=1001
#SITE  ATOM=X1       POS= 0.232       0.00000001 0.0         RELAX= 1 1 1
#      ATOM=X1       POS=-0.11599996 -0.2009179  0.37866667  RELAX= 1 1 1
#      ATOM=X1       POS=-0.11600004  0.20091788 0.75733333  RELAX= 1 1 1
SITE    ATOM=X1  POS=  u                  0               0        
        ATOM=X1  POS= -u/2            -u*sr3/2           cbya/3     
        ATOM=X1  POS= -u/2             u*sr3/2          cbya*2/3    

        ATOM=E   POS= -0.5+u              0               0
        ATOM=E   POS=  0.25-(u/2)  (sr3/4)-((u*sr3)/2)   cbya/3
        ATOM=E   POS=  0.25-(u/2) (-sr3/4)+((u*sr3)/2)  cbya*2/3

        ATOM=E   POS= -0.25+u           -sr3/4            0
        ATOM=E   POS= -0.25-(u/2)  (sr3/4)-((u*sr3)/2)   cbya/3
        ATOM=E   POS=  0.5-(u/2)       u*sr3/2          cbya*2/3

        ATOM=E   POS= -0.25+u           sr3/4             0
        ATOM=E   POS=  0.5-(u/2)      -u*sr3/2           cbya/3
        ATOM=E   POS= -0.25-(u/2) (-sr3/4)+((u*sr3)/2)  cbya*2/3


% const qhole=0
SPEC    ATOM=X1 Z={z} R/A={ra} LMX=2 LMXB=321 LMXF=6 EREF=0 A=.015 NR=0
        IDMOD=0 0 0 LMXL=lmxl C-HOLE=2s C-HQ={qhole}
        RSMH= rsm1,rsm1,rsm1 EH=e1,e1,e1 RSMH2=rsm2,rsm2,0 EH2=e2,e2,0
        BAS: {nel},0,2,rsm1,e1,0,{nel>2?2:1},rsm2,e2,0,1,rsm3,-3
        P={psta},5.08,6.06 LMXA=lmxa RSMA=rsma KMXA={kmx}
        RSMG/W={rg} RFOCA/W={rfoca} LFOCA=1
%ifdef asa | les<0
        ATOM=E  Z=0  R/A={ra} EREF=0 A=.01 NR=0
%else
        ATOM=E  Z=0 R=0 
%endif
        LMX=lmxe RSMH=1.5,1.5,1.5,1.5 EH=-.3,-.3,-.3,-.3

START   NIT=nit
 ATOM=X1 P=0.88 0.80 dnu 0.20 0.08 0.07 0.06
         Q=2 0 0  4 0 0 0 0 0  0 0 0  0 0 0  0 0 0  0 0 0
         TPAN=0 0 2
 ATOM=E  P=0.74 0.43 .3 0.11 0.09 0.08 0.07
         Q=0 0 0  0 0 0 0 0 0  0 0 0  0 0 0  0 0 0  0 0 0
         TPAN=0 0 0
CONST   sr3=sqrt(3)  ef0=.1 nk=6 nkgw=4 tet=1
        cbya={cbya} a={a} u={u} dnu=0.20
        hf=f eref={te?-13577.7553:-4853.6510}
        rsma=.9 lmxa=4 lmxl=2 bzj=1 nit=3 beta=1 
        lmxe=1
% ifdef te
        e1=-.1 e2=-1 rsm1=1.6 rsm2=1.4 rsm3=1.4 met=0 
% else
        e1=-.1 e2=-1 rsm1=1.3 rsm2=1.4 rsm3=1.4 met=0
        e1=-.1 e2=-1 rsm1=1.3 rsm2=3.5 rsm3=1.4 met=0
% endif
MAP F  *: \h.\t:g\{jm}
MASTER  dnu=0.20
        JOB 1 cbya={cbya} a={a} u={u} dnu=0.20
JOB
