%const da=0 se=t te=f
%const bigbas=f kmx=3 ngd=20  rg=-1 rfoca=-1 
%const a=8.234 cbya=1.136 u=.217 ra=0.256 z=34
#% cconst te a=8.406 cbya=1.330 u=.269 ra=0.256 z=52
#% cchar psta se 4.88,4.81,4.23,4.10 te 5.88,5.791,5.236,4.103
%const   hf=f ef0=.1 nk=6 tet=1
%const  sr3=sqrt(3) e1=-.1 e2=-1 rsm1=1.3 rsm2=1.4 rsm3=1.4 met=0
%const  rsma=.9 lmxa=4 lmxl=2 bzj=1 nit=3 beta=1 lmxe=1
%const frz=f pwmode=0 pwemin=1 pwemax=3 oveps=0
IO      SHOW=F HELP=F VERBOS=30 WKP=F
HAM     FORCES=1 FTMESH={ngd} {ngd} {ngd} XCFUN=2 TOL=1e-8  
        PWMODE={pwmode} PWEMIN={pwemin} PWEMAX={pwemax} OVEPS={oveps}
        NSPIN=1 REL=t 
OPTIONS NSPIN=1 REL=t FRZ={frz} TPAN=1 HF={hf} ESP=F XCN=0 LMH=0
        PFLOAT=0
% const dyn='.DYN'
{dyn}     MODE=6 HESS=t XTOL=.001 GTOL=0 STEP=.015 NKILL=0 NIT=10
SYMGRP  find
% const conv=.00005 convc=.002 xipmxs=f
# for Version 7:
ITER    MIX=A,k=5 BETA={beta} CONV={conv} CONVC={convc} NIT={nit}
%const nbas=3 nspec=1
STRUC   NBAS={nbas} NSPEC={nspec} NL=5
        ALAT={a}  PLAT=  1 0 0  -0.5 {sr3}/2  0  0 0 {cbya}  
        DALAT={da}*{a} SHEAR=0 0 1 {tet}
BZ      NKABC={nk} BZJOB=0 0 {bzj}
        METAL={met} TETRA=1  SAVDOS=f DOS={ef0}-1.5 {ef0}+1.5
        EF0={ef0} DELEF=.2 N=0 W=.004 NPTS=1001
SITE    ATOM=X1  POS=  {u}                  0               0        
        ATOM=X1  POS= -{u}/2            -{u}*{sr3}/2           {cbya}/3     
        ATOM=X1  POS= -{u}/2             {u}*{sr3}/2          {cbya}*2/3    

        ATOM=E   POS= -0.5+{u}              0               0
        ATOM=E   POS=  0.25-({u}/2)  ({sr3}/4)-(({u}*{sr3})/2)   {cbya}/3
        ATOM=E   POS=  0.25-({u}/2) (-{sr3}/4)+(({u}*{sr3})/2)  {cbya}*2/3

        ATOM=E   POS= -0.25+{u}           -{sr3}/4            0
        ATOM=E   POS= -0.25-({u}/2)  ({sr3}/4)-(({u}*{sr3})/2)   {cbya}/3
        ATOM=E   POS=  0.5-({u}/2)       {u}*{sr3}/2          {cbya}*2/3

        ATOM=E   POS= -0.25+{u}           {sr3}/4             0
        ATOM=E   POS=  0.5-({u}/2)      -{u}*{sr3}/2           {cbya}/3
        ATOM=E   POS= -0.25-({u}/2) (-{sr3}/4)+(({u}*{sr3})/2)  {cbya}*2/3

% const qhole=0
SPEC    ATOM=X1 Z={z} R/A={ra} LMX=2 LMXB=321 LMXF=6 EREF=0 A=.015 NR=0
        IDMOD=0 0 0 LMXL={lmxl} C-HOLE=2s C-HQ={qhole}
        RSMH= {rsm1},{rsm1},{rsm1} EH={e1},{e1},{e1} RSMH2={rsm2},{rsm2},0 EH2={e2},{e2},0
        P=4.88,4.81,4.23,4.10,5.08,6.06 LMXA={lmxa} RSMA={rsma} KMXA={kmx}
        RSMG/W={rg} RFOCA/W={rfoca} LFOCA=1
        ATOM=E  Z=0 R=0 
        LMX={lmxe} RSMH=1.5,1.5,1.5,1.5 EH=-.3,-.3,-.3,-.3
 
